<div class="ekart--header">
    <div class="ekart-logo">
         <!--logo image-->
         Ekart
    </div>
    <div class="ekart--header--nav">
       <top-menu></top-menu>

        <div class="ekart--bottom--bar">
            <!-- ekart bottom menu -->
        <bottom-menu></bottom-menu>

            <!-- search -->
            <!-- <div class="ekart--search--bar">
                <input type="text" class="ekart-search-box" placeholder="Search">

                <button class="ekart--search--btn">
                    <i class="fa fa fa-search"
                        aria-hidden="true">
                    </i>
                </button>
            </div> -->
        </div>
    </div>
</div>