<div class="ekart--product--container">
    <app-search></app-search>
    <product-list></product-list>
    <!-- <div *ngFor = "let items of [2,5,99,8,69];">
        <p>Current element:{{items}}</p>
    </div> -->

    

</div>
<!-- <input bind-value="name"> -->
<!-- <<input [value]="name" [attr.aria-hidden]=""> -->

<!-- <img class="img"
[src]="product.pImage">

<p>Name: {{product.name}}</p>
<p>Price: {{'$ '+ product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discounted Price: {{'$ '+getDiscountedPrice()}}</p>
<p>InStock: {{product.inStock > 0 ? 'Only ' + product.inStock+' items left' : ' Not in Stock'}}</p> -->

<!-- <button [disabled] = "!(product.inStock > 0)">Add to Bag</button>
<br> -->

<!-- event binding -->
 <!-- <input (input)="onNameChange($event)">
<p>Name:{{name}}</p> -->
<!--String interpolation  <img src={{product.pImage}}> -->

<!-- <button (click)="decrementCartValue()">-</button>
<span>{{addToCart}}</span>
<button (click)="incrementCartValue()">+</button> -->


